<div class="allTable">
	<table cellpadding="0" cellspacing="0">
		<thead>
		<tr>
			<td>ID</td>
			<td>用户名</td>
			<td>密码</td>
			<td>邮箱</td>
			<td>状态</td>
			<td>操作</td>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="(k, v) in userData">
			<td>
				<input type="checkbox" value="{{v.id}}">
			</td>
			<td><a href="javascript:;" class="uname">{{v.uname}}</a></td>
			<td>{{v.upwd}}</td>
			<td>{{v.email}}</td>
			<td>{{v.status}}</td>
			<td>
				<input type="checkbox" value="v.status" ng-model="v.status" ng-true-value="1" ng-false-value="0" ng-click="mark(k, v.id, v.status);" id="{{'list'+v.id}}" style="display:none;">
				<label for="{{'list'+v.id}}" ng-if="v.status=='0'">加入试卷</label>
				<label for="{{'list'+v.id}}" ng-if="v.status==undefined">加入试卷</label>
				<label for="{{'list'+v.id}}" ng-if="v.status=='1'">移出试卷</label>
			</td>
		</tr>
		</tbody>
	</table>
	<a href="javascript:;" ng-click="more();">{{moreBtn}}</a>
	<a href="javascript:;" ng-click="showPaper();">查看试卷</a>
</div>
<div class="pageList">
	<span>共<b>{{totalNum}}</b>条记录</span>
	<span>每页<b>{{pageNum}}</b>条</span>
	<span>当前第<b>{{currentPage}}</b>页</span>
	<span>
		<a href="javascript:;" ng-click="page('index');" ng-if="currentPage!=1">首页</a>
		<span href="javascript:;" ng-click="page('index');" ng-if="currentPage==1">首页</span>
	</span>
	<span>
		<a href="javascript:;" ng-click="page('prev');">上一页</a>
	</span>
	<span>
		<a href="javascript:;" ng-click="page('next');">下一页</a>
	</span>
	<span>
		<a href="javascript:;" ng-click="page('end');" ng-if="currentPage!=totalPage">尾页</a>
		<span href="javascript:;" ng-click="page('end');" ng-if="currentPage==totalPage">尾页</span>
	</span>
</div>
<script type="text/javascript">
    $('body').on('click', '.uname', function(){
        console.log($(this).text());
    });
</script>