<div class="allTable">
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<td>ID</td>
				<td>用户名</td>
				<td>密码</td>
				<td>邮箱</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(k, v) in userData.userList">
				<td>{{v.id}}</td>
				<td>{{v.uname}}</td>
				<td>{{v.upwd}}</td>
				<td>{{v.email}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="pageList">
	<span>共<b>{{userData.totalNum}}</b>条记录</span>
	<span>每页<b>{{userData.num}}</b>条</span>
	<span>当前第<b>{{userData.currentPage}}</b>页</span>
	<span>
		<a ui-sref="page({currentPage:1})" ng-if="currentPage!=1">首页</a>
	</span>
	<span>
		<a ui-sref="page({currentPage:currentPage-1})" ng-if="currentPage!=1">上一页</a>
	</span>
	<span>
		<a ui-sref="page({currentPage:currentPage+1})" ng-if="currentPage!=userData.totalPage">下一页</a>
	</span>
	<span>
		<a ui-sref="page({currentPage:userData.totalPage})" ng-if="currentPage!=userData.totalPage">尾页</a>
	</span>
</div>